* {
  box-sizing: border-box;
  border: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.input {
  outline: none;
}
.button:focus {
  outline: none;
}
ul {
  padding: 4px;
  list-style: none;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: #171717;
  border: none;
}
.nav {
  width: 100%;
  height: 55px;
  display: block;
  text-align: right;
  background-image: linear-gradient(90deg, #00d8ff, #367ad8);
}
.logo {
  width: auto;
  padding: 6px 30px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.input {
  width: 50%;
  text-align: center;
  position: relative;
}
.input-field {
  width: 100%;
  height: 40px;
  padding: 0 40px 0 10px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.button {
  background-image: linear-gradient(90deg, #00d8ff, #367ad8);
  color: white;
}
.input-button {
  height: 44px;
  width: 44px;
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
}
.buttons {
  width: 35%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.button-nav {
  width: 23%;
  height: 35px;
  overflow: hidden;
  font-size: 18px;
  border-radius: 5px;
}
.todo-container {
  width: 50%;
}
.todo {
  width: 100%;
  float: left;
}
.todo-item {
  width: 100%;
  min-height: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #444;
  background: #fff;
  border-radius: 5px;
  position: relative;
  padding: 14px 100px 14px 14px;
}
.todo-buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.todo-buttons button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 0;
  cursor: pointer;
}

.todo-remove {
  background-image: url('./img/trash.png');
}
.uncheck {
  background-image: url('./img/uncheck.png');
}
.check {
  background-image: url('./img/check.png');
}
