@font-face {
    font-family: 'San Francisco Pro Display Regular';
    src: url('../fonts/SFPro/SFProDisplay-Regular.eot');
    src: url('../fonts/SFPro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFPro/SFProDisplay-Regular.woff ') format('woff'),
    url('../fonts/SFPro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}