@import "~normalize.css";

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-color: #171717;
}
.nav {
  width: 100%;
  height: 55px;
  display: block;
  text-align: right;
  background-image: linear-gradient(90deg, #00d8ff, #367ad8);
}
.logo {
  width: auto;
  padding: 6px 20px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
