.slider-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}
.slider-wrapper {
  width: 100%;
  display: flex;
  will-change: transform;
  text-align: center;
  margin: auto;
  position: relative;
}
.slider-arrow {
  width: 25px;
  height: 25px;
  padding-top: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: background-color 0.2s;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  z-index: 5;
  background-repeat: no-repeat;
  background-size: 34px;
  -webkit-transition: background-color 0.2s;
}
.slider-arrow--prev {
  background-image: url(icons/left-arrow.svg);
  background-position: 25% 50%;
}
.slider-arrow--next {
  background-image: url(icons/right-arrow.svg);
  background-position: 75% 50%;
}
.slider-item {
  border: none;
}
