.slider-container {
  display: flex;
  width: 500px;
  height: 400px;
  overflow: hidden;
  align-items: center;
}

.slider-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
}

.slider-wrapper--arrow {
  position: absolute;
  display: flex;
  width: inherit;
  height: 30px;
  justify-content: space-between;
}

.slider-arrow {
  width: 30px;
  background-size: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.slider-arrow--prev {
  background-position: 25% 50%;
  background-image: url(icons/left-arrow.svg);
}
.slider-arrow--next {
  background-position: 75% 50%;
  background-image: url(icons/right-arrow.svg);
}
